.content-wrapper {
    flex: 1 0 auto;
    width: 100%;
}

* {                                    /*The * selector means 'apply to EVERY element.' The first two lines remove all default browser margins and padding so we have complete control over spacing.*/ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;            /* makes padding and border included in elements total width/height */
}

html, body{
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    overflow: visible;
    scroll-padding-top: 100px;
}

body {
    display: flex !important;
    flex-direction: column;
    min-height: 100vh;
    overflow: visible;
    padding-top: 80px;
}

.container {
    max-width: 1200px;                 /* common web design pattern, to fit larger screens */
    margin: 0 auto;                    /* centers horisontally (0 top/bottom, auto left/right) */
    padding:20px; 
}

/*===================================================================*/
                      /* HOME PAGE:*/
/*===================================================================*/
.btn{ /* all buttons will share this base styling */
    display:inline-block;
    padding: 1rem 2.6rem;
    font-family: 'Playfair Display', serif;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border: none;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 3px;
    border-radius: 3px;
    transition: all 0.4s ease;
    line-height: 1.4;
    box-shadow: 0 2px 4px rgba(92, 63, 54, 0.1);
} 

.btn-primary {
    color: white;
    background: #e6bcc2;
}

.btn-primary:hover{
    transform: translateY(-2px);
    box-shadow: 0 5px 9px rgba(196, 147, 155, 0.2);
    background: #c3949a;
}

.btn-primary:active {
    transform: translateY(0);
}

.btn-secondary{
    background: transparent;
    padding: calc(1rem - 2px) calc(2.4rem - 2px);
    box-shadow: none;
    color: #5d4037;
    border: 2.1px solid #5d4037;
}

.btn-secondary:hover {
    color: white;
    background: #5d4037;
    box-shadow: 0 5px 9px rgba(93, 63, 53, 0.2);
    transform: translateY(-2px);
}

.btn-tertiary {
    border: 1px solid #eddcc0;
    color: #5d4037;
    background: #f0e6d6;
    box-shadow: none;
}

.btn-tertiary:hover{
    color: #5d4037;
    background: #eddcc0;
    transform: translateY(-2px);
}

.btn-small{
    font-size: 0.86rem;
    letter-spacing: 1px;
    border-radius: 20px;
    font-weight: 500;
    padding: 13px 19px;
    font-family: 'Cormorant Garamond', serif;
}

.btn-big {
    padding: 1.3rem 3rem;
    letter-spacing: 4px;
    font-size: 1.2rem;
}

.btn-fullwidth{
    width: 100%;
    display: block;
}

/* ======= */
/* Header */
.main-header {
    background: #fff;
    padding: 0.9rem 0;
    position: fixed;                  /* Sticks to top when scrolling */     
    top: 0;
    left: 0;
    right: 0;                            /* Stick from the very top */ 
    z-index: 9999;      
    flex-shrink: 0;     
    width: 100%;          /* Ensures header is above other content (these 3 often used together) */
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);  /*  X ,  Y,   blur(soft edge),  color(5% black opacity)    */
}

.header-content {
    display: flex;                     /* Use Flexbox for layout */
    justify-content: space-between;    /* Logo LEFT, links RIGHT */
    align-items: flex-start;            /* align items at top*/
}

.logo {
    width: 150px;
    height: 70px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.logo a{
    text-decoration: none;
}

.logo h1 {
    font-family: 'Playfair Display', serif;
    font-size: 1.7rem;                 /* rem = scales with browser settings (accessible) , px = less flexible */
    font-weight: 900;
    color: #5d4037;
    color: #8b6b61;
    text-decoration: none;
    margin:0;
}

.tagline {
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    color: #c3949a;
    margin:0;
}

nav {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-item {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #8b6b61;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1rem;
    transition: color 0.3s, transform 0.3s;
}

.nav-item:hover {
    color: #593e35;
    transform: translateY(-4px);
}

.nav-item i {                           /* Icons inside links */
    margin-right: 5px;                  /* 5px space between icon and text */
}
/* ============ */
/* HERO SECTION*/
.hero {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('https://i.pinimg.com/736x/5b/e1/04/5be10426d1419a48d354a0944ffc9d58.jpg');
    background-position: center;
    color: white;
    padding: 19rem 0 12rem 0;
    text-align: center;
}

.hero-content h2{
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
    line-height: 1.2;
}

.hero-content p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5rem;
    max-width: 600px;
    margin: 0 auto 2rem;
    color: rgba(255,255,255,0.9);
}

.section-title {
    text-align: center;
    margin: 2rem 0rem 3rem 0rem;
    padding-bottom: 1rem;
}

.section-title h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: 800;
    color: #8b6b61;
    margin-bottom: 0.5rem;
}

.section-title p {
    color: #a1887f;
    font-style: italic;
    font-size: 1.1rem;
}
/* ============== */
/* ABOUT SECTION */
.about-section {
    padding: 4rem 0;
    margin: 0;
}

.about-content {
    gap: 2rem;
    display: flex;
    align-items: space-between;
}

.about-content img {
    width: 600px;
    height: 600px;
}
.about-content-text {
    display:flex;
    align-items: center;
}

.about-content p {
    font-family: 'Playfair Display', serif;
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 400;
    color: #8b6b61;
    margin: 1rem;
}

/* ============= */
/* MENU SECTION */
.menu-section {
    padding: 4rem 0;
    background: #ffffff; 
}

.menu-category {          
    margin-bottom: 5rem;
}

.menu-category h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    color: #8b6b61;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-category h3 i {
    font-size: 1.8rem;
}

.menu-items {                          /* Menu Items Grid */
    display: grid;
    gap: 1rem;
    padding: 1rem 0;
}

/* SOLD OUT */
.menu-item.sold-out {
    opacity: 0.6;
    filter: grayscale(40%);
    position: relative;
}

.sold-out-label {
    display: inline-block;
    background-color: #999;
    color: white;
    padding: 8px 16px;
    border-radius: 15px;
    font-size: 0.8rem;
    font-weight: 600;
}

@media (max-width: 600px) {           /*response mobile*/
    .menu-items {
        grid-template-columns: repeat(8, 160px);
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 0.5rem;
        -webkit-overflow-scrolling: touch;
    }

    .menu-item{
        scroll-snap-align: start;
        width: 160px;
    }

    .items-content h4{
        font-size: 0.9rem;
    }

    .item-content p{
        font-size: 0.65rem;
        min-height: 35px;
    }

    .price {
        font-size: 1rem;
    }

    .btn-add {
        padding: 8px 12px;
        font-size: 0.7rem;
    }

    .sold-out-label {
        padding: 6px 10px;
        font-size: 0.65rem;
    }
}

@media (min-width: 601px)  and (max-width: 1024px) {           /*response tablet*/
    .menu-items {
        grid-template-columns: repeat(3, 1fr);
        overflow-x: visible;
        gap: 1.5rem;
    }

    .menu-item {
        width: 100%;
    }
}

@media (min-width: 1025px) {           /*response desktop*/
    .menu-items {
        grid-template-columns: repeat(4, 1fr);
        overflow-x: visible;
        gap: 2rem;
    }

    .menu-item {
        width: 100%;
    }

    .item-content h4{
        font-size: 1.3rem;
    }

    .item-content p{
        font-size: 0.9rem;
        min-height: 40px;
    }

    .price {
        font-size: 1rem;
    }

    .btn-add {
        padding: 12px 20px;
        font-size: 0.8rem;
    }

    .sold-out-label {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}
                                       
.menu-item {                           /* Individual Menu Item (Bubble/Card) */
    background: white;
    border-radius: 15px;               /* Rounded corners for bubble effect */
    box-shadow: 0 5px 15px rgba(139, 107, 97, 0.2); /* Soft shadow */
}

.menu-item img {
    width: 60%;
    height: 100px;
    object-fit: cover;                  /* Crops image nicely */
    margin-top: 20px;
}

.item-content {
    padding: 0.8rem;
}

.item-content h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    color: #5d4037;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #f0e6d6;
}

.item-content p {
    color: #8b6b61;
    font-size: 0.7rem;
    font-style: italic;
    line-height: 1.4;
    margin-bottom: 0.5;
    min-height: 40px;                  /* Ensures consistent height */
}
                                       /* Footer with Price and Button */
.item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #f0e6d6;   /* line above footer */
}

.btn-add-to-cart{
    background:#8b6b61;
}

.btn-add-to-cart:hover{
    background:#5d4037;
}


.price {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1rem;
    font-weight: 600;
    color: #8b6b61;
}
                                        /* Add to Cart Button */
.btn-add {
    display: inline-block;
    padding: 15px 25px;
    margin-bottom: 2rem;
    font-size: 0.8rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #8b6b61;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #999;
    transition: background 0.3s, transform 0.3s;
  }
  
.btn-add:active:hover{                  /* when hovering AND clicked*/
    box-shadow: 0 5px #666;
    transform: translateY(2px);
  }

.btn-add:hover {
    background: #5d4037;
    transform: translateY(-2px);
}

/* ================= */
/* Responsive Design */
@media (max-width: 1024px) {           /*targets tablets (slightly changes layout)*/
    .header-content {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    nav {
        text-align: center;
        gap: 0.5rem;
    }

    .menu-items {
        grid-template-columns: repeat(2, 1fr); /* fr = flexible fraction, divison of leftover space*/
        gap: 1.5rem;
    } /*"On tablets (768px and below). Reduced minimum column width from 300px to 280px, decreased gap slightly. Ensures still 
    get 2 columns on most tablets instead of dropping to 1 too early." */
    
    .menu-item {
        margin-bottom: 1rem;
    }
}

 @media (max-width: 480px) {           /*for larger phones and phones in general? */
    .header-content {
        flex-direction: column;
        text-align: center;
    }

    nav {
        text-align: center;
    }

    .menu-items {
        grid-template-columns: repeat(2, 1fr);  /* we want to fit two item cards on screen so for small screens with width 360, we did 180px*/
        gap: 1rem;
    }

}
                                      
.cart-count {
    display: inline-block;
    transition: transform 0.3s ease;    /*transition will start slow, then go fast, and end slow */
    padding: 2px 6px;
    border-radius: 50%;
    background-color: #f0e6d6;
}

/* ============ */
/* FOOTER SECTION*/
.footer-section{
    background-color:#a1887f;
    padding: 2rem 0rem;
}

.contact-us .phone-nr{
    color:#f0e6d6;
    text-decoration: none;
}

.footer-section .container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.footer-section .logo{
    height: auto;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem auto 3rem auto;

}

.footer-section .contact-us, .footer-section .visit-us, .footer-section .socials-section{
    flex: 1 1 201px;
    text-align: left;
}

.footer-section h3{
    color:#593e35;
    font-size: 1.1rem;
    font-family: 'Playfair Display', serif;
    letter-spacing: 5px;
    margin-bottom:1.3rem;
}

.socials-section .socials {
    display: flex;
   
    align-items: center;
    margin-top: 0.6rem;
    gap: 6rem;
}

.socials-section .socials a{
    color:#e6bcc2;
    font-size:1.5rem;
    display: inline-block;
    transition: all 0.3s ease;
}
.socials-section .socials a:hover{
    transform: scale(1.4);
}


.footer-section i{
    font-size: 1.5rem;
    width: 35px;
    color: #e6bcc2;
    margin-right: 0;
    padding-left: 0;
}

.footer-section p{
    margin: 1.2rem;
    color:#f0e6d6;
    display:flex;
    align-items: center;
    gap: 0.6rem;
}

.footer-section .copyrights{
    color: #f5f0ed opacity(70%);
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
}
/*===================================================================*/
                      /* LOGIN PAGE:*/
/*===================================================================*/
.login-container {
    max-width: 1200px;                 /* common web design pattern, to fit larger screens */
    margin: 0 auto;                    /* centers horisontally (0 top/bottom, auto left/right) */
    padding:0px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4rem;
    padding: 2rem 1.9rem;
}

.login-container button{
    background-color: #e6bcc2;
    color:#fff;
    font-family: 'Playfair Display', serif;
    border-color:#e6bcc2;
    font-size: 1rem;
    border-radius: 10px;
    padding: 0.4rem;
}

.role{
    margin-bottom: 2.4rem;
    flex: 1 1 400px; /*both box same width*/
    border-radius: 19px;
    min-width: 319px;
    max-width: 499px;
    padding: 1.9rem;
    background: white;
    box-shadow: 0 6px 24px rgba(92, 63, 54, 0.05);
    transition: trasnform 0.3s ease, boz-shadow 0.3s ease;
}

.role h3{
    color: #5d4037;
    font-size: 1.9rem;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-bottom: 2rem;
}

.role p{
    font-size: 1rem;
    color: #8b6b61;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    padding-bottom: 0.8rem;
    margin-bottom: 4rem;
    border-bottom: 2px solid #e6bcc2;
    display: flex;
    text-align: center;  
    letter-spacing: 0.09rem; 
}

.role:hover{
    box-shadow: 0 14px 34px rgba(229, 187, 193, 0.1);
    transform: trasnlateY(-4px);
}

.cutsomer-new, .customer-exist{
    margin-bottom: 1.9rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-container input:focus{
    outline-color: #5d4037; 
    box-shadow: 0 0 0 4px rgba(229, 187, 193, 0.1);
}

.input-container input{
    font-family: 'Cormorant Garamond', serif;
    font-size: 0.9rem;
    width: 100%;
    padding: 0.8rem 1.3rem;
    margin-bottom: 0.9rem;
    border:1.4px solid #8b6b61;
    border-radius: 13px;
}

.input-container input::placeholder{
    color: #a1887f;
    font-family: 'Cormorant Garamond', serif;
    font-size: 0.9rem;
}

.customer-exist {
    margin-bottom: 2rem;
}

.customer-new h4{
    color: #8b6b61;
    font-family: 'Playfair Display', serif;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 1rem 0;
}

.forgot-pass-link{
    text-align:left;
    margin-top: 0.4rem;
    margin: 8px 0 15px;
}

.forgot-pass-link a{
    color: #8b6b61;
    font-family: 'Cormorant Garamond', serif;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.2s ease;
    font-style: italic;
}

.forgot-pass-link:hover{
    color: #5d4037;
    text-decoration: underline;
}

#admin-section {
    background: linear-gradient(134deg, #ffffff, #fff9f7);
}

/*popup*/
.popup-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9998;
}

.popup-style {
    background-color: white;
    padding: 36px 40px;
    border-radius: 29px;
    position: relative;
    max-width: 450px;
    width: 90%;
    z-index: 10000;
    box-shadow: 
        0 11px 26px rgba(0, 0, 0, 0.1),    
        0 5px 11px rgba(0, 0, 0, 0.05),   
        0 0 0 2px rgba(92, 63, 54, 0.05);
}

.popup-titel {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: 0.6rem;
    color:#5d4037;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
}
.popup-style p{
    display:flex;
    justify-content: center;
    color:#8b6b61;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2.1rem;
}

.popup-style input{
    font-family: 'Cormorant Garamond', serif;
    font-size: 1rem;
    padding:0.9rem 1.1rem;
    border: 0.5px solid #8b6b61;
    width: 100%; 
    height: auto;
    margin-bottom: 1.4rem;
    box-sizing: border-box;
    border-radius: 15px;
    transition: all 0.4s ease;
    background-color:  #faf9f8ed;
}

.popup-style input:focus {
    border-color: #5d4037;
    box-shadow: 0 0 0 4px rgba(92, 63, 55, 0.1);
}

.popup-btns { 
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
    gap: 1rem;
}
.popup-btns .btn{
    width: 100%;
    padding: 1rem !important;
    border-radius: 15px !important;
}
/*===================================================================*/
                      /* RESET PASSWORD PAGE:*/
/*===================================================================*/
.main-header .logo img {
    margin-left: 2rem;
}

.reset-password-page{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    backdrop-filter: (3px);
    min-height: calc(100vh - 201px);
    padding: 2.1rem;
}

.reset-password-page .popup-container {
    display: flex;
    position: relative !important;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 100%;
    max-width: 500px;
}

.reset-password-page .container{
    display:flex;
    justify-content: center;
    width: 100%;
}

#matchPasswordMsg, .missingInfoMsg{
    color: #c44b4b;
    text-align: center;
    margin-bottom: 0.9rem;
}
/*===================================================================*/
                      /* CART PAGE:*/
/*===================================================================*/
.cart-page{
    min-height: 60vh;
    margin-bottom: 3rem;
    background: linear-gradient(135deg, #fff9f7 0%, #ffffff 100%);
    padding-bottom: 2rem 0 3rem 0;
} 

.cart-items-container {
    margin: 2rem 0;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 1.9rem;
    border-radius: 15px;
    background-color: white;
    border: 1px solid #f0e6d6;
    margin: 1.4rem auto;
    box-shadow: 0 5px 19px rgba(138, 106, 96, 0.09);
}

.cart-item:hover{
    border-color: #e6bcc2;
    transform: translateY(-2px);
    box-shadow: 0 7px 24px rgba(229, 187, 193, 0.2);
}

.cart-item h3{
    color:#5d4037;
    margin: 0 0 0.5rem 0;
    padding:0;
    font-family: 'Playfair Display', serif;
    font-size: 1.3rem;
}
.cart-item-info{
    flex: 1;
}

.cart-item p{
    margin: 0;
    color:#5d4037;
    font-size: 0.94rem;
}

.cart-item-controls {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.quantity-control {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 29px;
    border: 1px solid #e6bcc2;
    background: white;
    box-shadow: 0 3px 4px rgba(229, 187, 193, 0.1);
    padding: 0.3rem 0.7rem;
}

.qty-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background:none;
    border:none;
    color:#8b6b61;
    width: 30px;
    height: 30px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 0.4rem 0.8rem;
    transition: all 0.3 ease;
}
.qty-btn:active{
    transform: scale(0.95);
}

.qty-btn:hover{
    transform: scale(1.1);
    color:#5d4037;
    background: #e6bcc2;
}

.quantity {
    font-weight: 600;
    color:#5d4037;
    min-width: 25px;
    text-align: center;
}
.item-subtotal span{
    color:#5d4037;
    letter-spacing: 0.6px;
    background: #faf7f2;
    font-size: 1.1rem;
    border-radius: 21px;
    padding: 0.6rem 0.9rem;
}

.item-subtotal {
    display: flex;
    align-items: center;
    gap: 1.1rem;
    font-weight: 600;
    color:#5d4037;
}

.remove-btn {
    color:#c44b4b;
    background-color: #faf7f2;
    cursor: pointer;
    border: none;
    margin: 0;
    height:37px;
    width: 37px;
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.remove-btn:hover{
    color: white;
    transform: scale(1.1);
    background-color: #c44b4b;
}

/*== cart summary == */

.cart-summary {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 2.1rem;
    background: white;
    margin: 2rem 0rem 1rem auto;
    border-radius: 21px;
    border: 1px solid #e6bcc2;
    box-shadow:0 4px 19px rgba(138, 106, 96, 0.04);
}

.cart-total {
    width: 100%;
    margin: 0 0  1.4rem 0;
    text-align:right;
    border-bottom: 2px dashed #e6bcc2;
    padding-bottom: 1.4rem;
}

.cart-total h3{
    font-size: 1.2rem;
    margin:0 0 0.5rem 0;
    color: #5d4037;
    letter-spacing: 1px;
    font-family: 'Playfair Display', serif;
}

.cart-total span{
    font-size: 1.9rem;
    font-weight: 700;
    color: #5d4037;
    font-family: 'Playfair Display', serif;
}

#checkout-btn {
    margin-top: 1rem;
    width: 270px;
}

/* empty cart*/
.empty-cart{
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 4rem 1.9rem;
    margin: 4.9rem 1rem;
    background:transparent;
    border-radius: 29px;
}

.empty-cart p{
    color: #a1887f;
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 1.9rem;
}

.empty-cart i{
    color: #b6afad;
    font-size: 3rem;
    padding-bottom: 1.5rem;
}

/*===================================================================*/
                      /* PAYMENT PAGE:*/
/*===================================================================*/
.payment-section {
    background: linear-gradient(134deg, #fff9f7 0%, #ffffff 99.9%);
    padding: 2rem 0 4rem 0;
    min-height: 70vh;
}


.payment-wrapper {
    display: flex;
    grid-template-columns: 1fr 1.2fr;
    margin-top: 1.9rem;
    gap: 3rem;
}

.payment-order-box{
    padding: 2rem;
    border-radius: 19px;
    background: white;
    border: 1px solid #e6bcc2;
    width: 100%;
    box-shadow:0 4px 19px rgba(138, 106, 96, 0.04);
}

.payment-order-box h2{
    color:#5d4037;
    margin-bottom: 1.4rem;
    font-family: 'Playfair Display', serif;
    border-bottom: 2px solid #e6bcc2;
    padding-bottom: 0.6rem;
}

.payment-order-items{
    margin-bottom: 1.6rem;
    padding-right: 0.6rem;
    max-height: 299px;
    overflow-y: auto;
}


.payment-order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed #eddcc0;
    padding: 0.7rem 0;
}

.payment-order-items:last-child{
    border-bottom: none;
}

.payment-item-info {
    display: flex;
    align-items: center;
    gap: 0.9rem;
}

.payment-item-name {
    color: #5d4037;
    font-weight: 499;
}

.payment-item-price {
    font-weight: 600;
    color: #5d4037;
}

.payment-item-qty {
    color:#8b6b61;
    font-size: 1rem;
    border-radius: 13px;
    padding: 0.3rem 0.5rem;
    background: #faf7f2;
}


.payment-total-box{
    padding: 1.4rem;
    border-radius: 13px;
    background: #faf7f2;
    margin-top: 0.9rem;
}

.payment-row {
    color:#5d4037;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.7rem;
}

.payment-final {
    font-size: 1.3rem;
    margin-top:0.9rem;
    border-top: 2px solid #e6bcc2;
    padding-top: 0.9rem;
}

.payment-method-box{
    background: white;
    padding:1.9rem;
    box-shadow: 0 4px 19px rgba(138, 106, 96, 0.04);
    border: 1px solid #e6bcc2;
    width: 100%;
    border-radius: 19px;
}

.checkout-methods {
    display:flex;
    flex-wrap: wrap;
    gap:1rem;
    margin-bottom: 1.9rem;
}

.payment-method-box h2{
    color:#5d4037;
    margin-bottom: 1.4rem;
    font-family: 'Playfair Display', serif;
    border-bottom: 2px solid #e6bcc2;
    padding-bottom: 0.6rem;
}

.payment-option-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #faf7f2;
    gap: 0.4rem;
    border-radius: 13px;
    padding: 0.9rem;
    transition: all 0.2s ease;
    border: 1.9px solid #eddcc0;
}
.payment-option-content span{
    font-weight: 499;
    color: #5d4037;
}

.payment-option-content i{
    color: #5d4037;
    font-size: 1.6rem;
}

.card-details-box{
    padding: 1.4rem;
    margin: 1.4rem 0;
    background: #faf7f2;
    border-radius: 13px;

}

.card-details-box h3{
    font-size: 1.4rem;
    color:#5d4037;
    margin-bottom: 1rem;
}

.card-details-box input{
    height: 40px;
    margin: 0.5rem 0rem;
    padding: 0 1rem;
}

.card-details-box input:focus{
    outline-color: #5d4037; 
}

.payment-input, .payment-input-half {
    width: 100%;
    border: 1px solid #eddcc0;
    border-radius: 7px;
    font-family: 'Cormorant Garamond', serif;
    padding: 0.7rem 0.9rem;
    margin: 0.9rem;
}

.payment-input-half {
    width: 50%;
}

.payment-row-fields{
    display: flex; 
    gap: 0.9rem;
}
/* 
.discount-input label{
    color: #5d4037;
    display: block;
    margin-bottom: 0.6rem;
}

.discount-row {
    display: flex;
    gap: 0.4rem;
}

.discount-row button{
    padding: 0.5rem 0.7rem!important;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.discount-row input{
    font-family: 'Cormorant Garamond', serif;
    flex: 1;
    border: 1px solid #eddcc0;
    padding: 0.5rem 0.7rem;
    margin-bottom: 1rem;
    border-radius: 7px;
} */
/*===================================================================*/
                      /* ORDER CONFIRMATION PAGE:*/
/*===================================================================*/
.order-confirmation-page {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    min-height: 79vh;
    background: linear-gradient(135deg, #fff9f7 0%, #ffffff 100%);
}

.confirmation-box {
    text-align: center;
    max-width: 650px;
    background: white;
    margin: 4rem auto 0 auto;
    padding: 2.1rem 2.1rem;
    border-radius: 29px;
    border: 1px solid #f0e6d6;
    box-shadow: 0 11px 29px rgba(138, 106, 96, 0.09);
}

.fa-solid.fa-circle-check.fa-beat-fade{
    font-size: 4rem;
    width:81px;
    height: 81px;
    color: #e6bcc2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto 1.2rem auto;
    --fa-animation-iteration-count: 3; /*makes it beat only twice */
}

.confirmation-section .section-header{
    color:#5d4037;
}

.order-id-display {
    display: block;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
    /* border: 1px dashed #f5f0ed; */
    color: #8b6b61;
    font-size: 1.7rem !important;
    margin-top: 0.55rem;
}

.order-id-section {
    margin-top: 0;
    padding-top: 0rem;
    padding-bottom: 1.1rem;
}

.order-id-section h2{
    margin-top: 0;
    padding-top: 0rem;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 450;
    font-size: 1.2rem;
    color: #8b6b61;
}

.order-id-section span{
    border:#a1887f;
    border-radius: 25px;
}

.order-id-section .btn-primary{
    margin-top: 1rem;
}

.section-header span{
    font-size: 1.2rem;
}
.cancel-section p{
    font-size: 1.2rem;
    margin-bottom: 1.4rem;
    color: #5d4037;
}

.cancel-section{
    margin-top: 0.6rem;
    padding: 1.1rem 0 0.6rem;
    border-top: 2px solid #e6bcc2;
}

.cancel-section h3{
    color:#593e35;
    font-size: 1.2rem;
    font-family: 'Playfair Display', serif;
    margin: 0.6rem 0 0.4rem 0;
}

#countdown-timer {
    display: inline-block;
    font-weight: 750;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

#cancel-order-btn {
    min-width: 201px;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    border-radius: 30px;
}

.cancel-message {
    background:#faf7f2;
    margin-top: 0.8rem;
    margin-bottom: 0rem;
    border-radius: 16px;
    padding: 1.1rem;
}

.cancel-message p{
    margin-bottom: 0.4rem;
    color:#e6bcc2;
    font-size: 1.4rem;
}
/*===================================================================*/
                      /* CUSTOMER - PROFILE PAGE:*/
/*===================================================================*/
.msgFillAll, .msgShort, .msgMatch{
    color:#c44b4b;
    display: none;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 0.6rem;
}

.profile-page{
    background: linear-gradient(136deg, #fff9f7 0%, #ffffff 1100%);
    margin-bottom: 6rem;
    padding: 1.9rem 0;
}

.account-section{
    border-radius: 19px;
    padding: 1.9rem;
    background: white;
    margin-bottom: 2.1rem;
    border: 1px solid #eddcc0;
    box-shadow: 0 6px 19px rgba(138, 106, 96, 0.04);
}

.form-container {
    max-width: 499px;
}

.form-container form{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.form-container input{
    height: 3rem;
    border-radius: 16px;
    padding: 0 1.3rem;
    border: 1px solid #eddcc0;
    font-size: 1rem;
    background: #faf7f2;
    font-family:'Cormorant Garamond', serif;
}

.form-container input:focus{
    outline:none !important;
    border: 1px solid #a1887f;
    border-color:#a1887f;
}

.form-container button{
    align-self: flex-start;
    margin-top: 0.6rem;
}

.form-container .btn-primary{
    border-radius: 19px;
}

.delete-account .btn-tertiary{
    background:#e57e7e;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 15px;
}

.delete-account .btn-tertiary:hover{
    background:#b44242;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;  /* makes dropdown is next to other links*/
}

.profile-btn {
    background-color: white;
    border: none;
}

.profile-btn:hover {
    transform: none;
}

.dropdown-content {
    background-color: white;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1;
}

.dropdown-content a{
    color:#8b6b61;
    text-decoration: none;
    padding: 12px 16px;
    display: block;   /* makes sure each link takes ful space and are under eachother*/
}

.dropdown:hover .dropdown-content{
    display: block;
}

.page-header h1{
    color:#8b6b61;
    font-size: 2.3rem;
    margin: 4rem 0rem;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.section-header h2{
    color: #5d4037;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 1.7rem;
}

.section-header {
    margin-bottom: 1.4rem;
}

.section-header p{
    color:#8b6b61;
    font-family:'Cormorant Garamond', serif;
    font-style: italic;
    margin-bottom: 1.2rem;
}
/* 
.discounts-section {
    margin-top: 1rem;
}

.discount-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 1rem;
    background: white;
    border: 2px dashed #a1887f;
    border-radius: 21px;
    transition: all 0.3s ease;
    gap: 0.7rem;
}

.discount-card:hover{
    box-shadow: 0 11px 24px rgba(229, 187, 193, 0.15);
    transform: translateY(-2px);
}

.discount-card .btn{
    margin-top: 0.6rem;
    width: 100%;
}

#discounts-container{
    display: grid;
    gap: 1.1rem;
    margin-top: 1.1rem;
    grid-template-columns: repeat(auto-fill, minmax(299px, 1fr));
}

.discount-code{
    font-family: ui-monospace;
    font-weight: 600;
    font-size: 0.6rem;
    letter-spacing: 3px;
    background: #faf7f2;
    padding: 0.3rem 0.3rem;
    border-radius: 15px;
    border: 1px solid #eddcc0;
    color: #5d4037;
}

.discount-expiry{
    margin-bottom: 0.15rem;
    color: #8b6b61;
    font-size: 0.7rem;
}

.discount-value{
    color: #5d4037;
    font-size: 0.7rem;
    letter-spacing: 3px;
}

.no-coupons{
    color:#999;
    font-family:'Cormorant Garamond', serif;
    font-size: 1rem;
    letter-spacing: 3px;
} */

/*===================================================================*/
                      /* CUSTOMER - MY ORDERS PAGE:*/
/*===================================================================*/
.order-card{
    flex: 0 0 auto;
    max-width: 350px;
    width: 100%;
    border-bottom: 1px solid #8b6b61;
    font-family: 'Cormorant Garamond', serif;
    margin: 0 0 2.3rem 0;
    padding-bottom: 1.3rem;
}

.order-header span:last-child em{
    background-color:#faf7f2;
    padding: 0.2rem 0.8rem;
    border-radius: 20px;
    font-style: italic;
    font-size: 0.9rem;
}

.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#c3949a;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.order-body {
    color:#8b6b61;
}

.order-body .order-total{
    margin-top: 0.1rem;
    color:#5d4037;
    display: flex;
    justify-content: space-between;
}

#current-order-box, #order-history-box {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(16px, 280px);
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding: 1.4rem 0.5rem 2.4rem;
}

@media (max-width: 600px) {       /*mobile*/
    #current-order-box, #order-history-box{
        grid-auto-columns: 160px;
        gap: 0.5rem;
    }

    .order-card {
        padding: 1.05rem;
        margin-bottom: 1.05rem;
    }

    .order.card .order-header{
        font-size: 1rem;
        margin-bottom: 0.3rem;
    }

    .order-card .order-total{
        font-size: 0.9rem;
        margin-top: 0.3rem;
    }

    .order-card .order-body{
        font-size:0.8rem;
    }


    .order.header span:last-child em{
        font-size: 0.7rem;
        padding: 0.1rem 0.5rem;
    }

    .order-body li{
        font-size: 0.75rem;
        line-height: 1.2;
    }

    .order-body ul{
        margin: 0.3rem 0 0.5rem 1rem;
    }

}

@media (min-width: 601px) and (max-width: 1024px){  /*tablet*/
    #current-order-box, #order-history-box{
        grid-auto-columns: 220px;
    }

    .order-card .order-header {
        font-size: 1.1rem;
    }

    .order-card {
        padding: 1.2rem;
    }

    .order-card .order-body{
        font-size: 0.9rem;
    }
}

@media (min-width: 1025px) {    /*desktop*/
    #current-order-box, #order-history-box{
        grid-auto-columns: 280px;   
    }
}
/*===================================================================*/
                      /* ADMIN - MENU MANAGE PAGE:*/
/*===================================================================*/
.page-header p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5rem;
    color: #8b6b61;
    max-width: 600px;
    margin: 0 auto 2rem;
}

.menu-manage-page {
    margin-bottom: 5rem;
    padding-bottom: 5rem;
}

.desserts-manage, .drinks-manage{
    margin-bottom: 3.1rem;
}

.items-list {
    margin: 1.5rem 0;
}

.menu-item-row, .new-item-row {
    background: #fff9f7;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #eddcc0;
    border-radius: 15px;
    box-shadow: 0 3px 7px rgba(139, 107, 97, 0.03);
}
/* första row w all input fält (4st)*/
.fields-row {
    display: flex;
    gap: 0.35rem;
    margin-bottom: 0.5rem;
    width: 100%;
}

.field-name {
    width: 149px;
}

.field-price {
    width: 90px;
}

.field-description {
    width: 249px;
}

.field-image {
    width: 150px;
}

.field-stock {
    width: 60px;
}

.fields-row textarea, .fields-row input{
    border: 1.5px solid #eddcc0;
    padding: 0.5rem 0.8rem;
    border-radius: 10px;
    font-size: 1rem;
    font-family: 'Cormorant Garamond', serif;
    background: white;
    transition: all 0.3s ease;
}

.fields-row textarea:focus, .fields-row input:focus{
    border-color: #8b6b61;
    outline: none;
    box-shadow: 0 0 0 4px rgba(229, 187, 193, 0.15);
}

.item-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.35rem;
    gap: 0.7rem;
}

.items-actions .btn {
    font-size: 0.5rem !important;
    padding: 0.3rem 0.5rem !important;
}

.items-actions .btn.update-btn {
    color: #eddcc0 !important;
    background-color: #5d4037 !important;
    border: 1px solid #eddcc0 !important;
}
.items-actions .btn.update-btn:hover {
    background-color: #eddcc0 !important;
    color: #5d4037;
}

.items-actions .btn.delete-btn {
    background-color: #5d4037 !important;
}

.items-actions .btn.delete-btn:hover {
    background-color: #eddcc0 !important;
}

.new-item-row {
    box-shadow: 0 4 0 8px rgba(229, 187, 193, 0.15);
}

/*===================================================================*/
                      /* ADMIN - ORDER MANAGE PAGE:*/
/*===================================================================*/
.order-manage-page {
    padding: 2rem 0;
}

.orders-list{
    display: grid;
    gap: 1rem;
}

@media (max-width: 600px) {
    .orders-list {
        grid-template-columns: 1fr;
    }

    .order-card strong {
        font-size: 1.1rem;
    }

    .order-card {
        padding: 0.8rem;
        font-size: 0.9rem;
    }

    .order-header {
        flex-direction: row;  /*title and acton on same row*/
        align-items: center;
    }

    .order-actions {
        gap: 0.3rem;
        margin: 0 0.5rem;
    }

    .order-actions select{
        max-width: 90px;
        padding: 0.3rem;
        font-size:0.8rem;
    }

    .btn-tertiary {
        padding: 0.3rem 0.6rem;
        font-size: 0.8rem;
        /* max-width: 90px; */
    }
}
/*Tablet*/
@media (min-width: 601px) and (max-width: 1024px){
    .orders-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .order-card {
        padding: 1rem;
        font-size: 0.86rem;
    }

    .order-card strong{
        font-size: 1rem;
    }

    .order-actions {
        flex-direction: column;
        align-items: stretch;
    }

    .order-actions select{
        width:100%;
        padding:0.3rem;
        font-size: 0.8rem;
    }

    .btn-tertiary {
        width: 100%;
        padding: 0.3rem 0.5rem;
        font-size: 0.8rem;
        text-align: center;
    }
}

@media (min-width: 1025px){
    .orders-list {
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

    .order-card strong{
        font-size: 1.1rem;
    }

    .order-card {
        padding: 1rem;
        font-size: 0.9rem;
    }

    .order-actions {
        display: flex;
        gap: 0.3rem;
        align-items: center;
        flex-wrap: wrap;
    }

    .order-actions select{
        padding: 0.25rem;
        font-size: 0.8rem;
        max-width: 100px;
    }

    .btn-tertiary {
        padding: 0.25rem 0.5rem;
        font-size: 0.8rem;
        white-space: nowrap;
    }
}

.order-card {
    width: 100%;
    min-width: 0;
    background-color:#faf7f2;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(139, 107, 97, 0.1);
}

.order-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e6bcc2;
    margin-bottom: 0.5rem;
    padding-bottom: 0.3rem;
}

.order-title {
    word-break: break-word;
    color:#5d4037;
    font-weight: 500;
}

.order-actions {
    display:flex;
    gap:0.5rem;
    align-items: center;
}

.order-details {
    color:#8b6b61;
    line-height: 1.3;
}

.order-details p {
    margin: 0.2rem 0;
}

.order-actions select {
    color:#5d4037;
    cursor: pointer;
    border: 1px solid #e6bcc2;
    border-radius: 4px;
    background-color: white;
}

.no-orders {
    text-align: center;
    color: #8b6b61;
    padding: 4rem;
}